<template>
  <div class="home">
    <shoppingPage />
  </div>
</template>

<script>
// @ is an alias to /src
import shoppingPage from "@/components/shop.vue";

export default {
  name: "home",
  components: {
    shoppingPage
  }
};
</script>
