<template>
  <div class="wrapper">
    <div class="scrollable-area">
      <div class="container pt-4">
        <nav class="navbar navbar-expand bg-light navbar-light rounded-lg">
          <a class="navbar-brand" href="#">تخفیفان</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item cart-wrapper">
                <div class="dropdown float-left">
                  <button
                    class="dropbtn"
                    v-bind:class="[cart.length === 0 ? 'empty-btn' : 'full-btn']"
                  >
                    <i class="fas fa-angle-down pr-4"></i>
                    <span style="display:inline-block" v-if="cart.length === 0">(خالی)</span>
                    <span style="display:inline-block" v-if="cart.length !== 0">{{total}}</span>
                    سبد خرید
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                  <div class="dropdown-content cart p-2" style="direction:rtl">
                    <div v-if="cart.length === 0">سبد خرید شما خالیست!</div>
                    <div
                      class="justify-content-between d-flex flex-row"
                      v-for="(row,i) in cart"
                      :key="row.product.id"
                      style=";padding:7px 5px;border-bottom:1px solid lightgray;margin:5px;"
                    >
                      <div
                        class="product-count rounded-circle"
                        style="background-color:green;width:25px;height:25px"
                      >{{i+1}}</div>
                      <div class="product-title">{{ row.product.title }}</div>

                      <div style="font-size:14px">
                        <span>{{ row.product.price }}تومان</span>
                      </div>
                      <div>
                        <span class="quantity-btn" v-on:click="removeFromCart(row.product)">-</span>
                        <span class="ml-3 mr-3">{{row.count}}</span>
                        <span class="quantity-btn" v-on:click="addToCart(row.product)">+</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item sort-wrapper">
                <div class="dropdown">
                  <button class="sort-btn">
                    <span class="text">مرتب سازی</span>
                    <i class="fas fa-sort-amount-down pl-2"></i>
                  </button>
                  <div class="sortDropdownContent">
                    <a style="cursor:pointer" v-on:click="setOrder('createdAt')">جدید</a>
                    <a style="cursor:pointer" v-on:click="setOrder('soldCount')">پرفروش</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container pt-5">
        <div class="d-flex flex-wrap justify-content-center product-container">
          <div
            class="rounded-lg d-flex flex-column"
            v-for="product in products"
            style="padding:5px; flex:0 1 33%;"
            :key="product.id"
          >
            <div class="product-image">
              <div class="rounded-lg" v-if="product.quantity == 0">تمام شد</div>
              <img :src="'https://picsum.photos/300/200?i=' + product.createdAt">
            </div>
            <div class="product-content">
              <div class="product-content-container">
                <p class="title">{{product.title}}</p>
                <p class="desc">{{product.desc | truncate(100, '...') }}</p>
              </div>
              <div style="flex:1"></div>
              <div class="product-price-container">
                <p class="product-price">{{product.price}} تومان</p>
                <button
                  v-on:click="addToCart(product, true)"
                  :disabled="product.quantity == 0"
                  class="quantity rounded-lg add-to-cart-btn"
                >
                  <span class="text">همین حالا خرید کن</span>
                  <span class="icon">+</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-footer p-2" v-if="cart.length !== 0">
      <div class="cart-footer-info" @click="showCartFooterContent = !showCartFooterContent">
        <i class="fas fa-angle-left pr-4"></i>
        <span>
          سبد خرید
          <span class="count">{{total}}</span>
        </span>
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="cart-footer-content" v-if="showCartFooterContent">
        <div
          class="cart-footer-index justify-content-between d-flex flex-row"
          v-for="(row,i) in cart"
          :key="row.product.id"
        >
          <div class="count-circle rounded-circle">{{i+1}}</div>
          <div class="cart-title">{{ row.product.title }}</div>

          <div class="cart-price">
            <span>{{ row.product.price }}تومان</span>
          </div>
          <div>
            <span class="quantity-btn rounded-sm" v-on:click="removeFromCart(row.product)">-</span>
            <span class="ml-3 mr-3">{{row.count}}</span>
            <span v-on:click="addToCart(row.product)" class="quantity-btn rounded-sm">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "shop",
  data() {
    return {
      showCartFooterContent: false
    };
  },
  mounted() {
    this.$store.dispatch("loadProducts");
  },
  filters: {
    truncate: function(text, length, suffix) {
      if (text.length > length) {
        return text.substring(0, length) + suffix;
      } else {
        return text;
      }
    }
  },
  methods: {
    setOrder(prop) {
      this.$store.dispatch("sortProducts", prop);
    },
    addToCart(product, showToast) {
      this.$store.dispatch("addToCart", product);
      if (showToast) this.$store.dispatch("toast", "success");
    },
    removeFromCart(product) {
      this.$store.dispatch("removeFromCart", product);
    }
  },
  computed: {
    products() {
      return this.$store.getters.products;
    },
    cart() {
      return this.$store.getters.cart;
    },
    total() {
      let total = 0;
      this.cart.forEach(row => {
        total += row.count;
      });
      return total;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$defaultBgColor: #fff;
$green-bg-color: #05c925;
$shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.1);
hr {
  border-bottom: 1px solid white;
}

.dropbtn {
  width: 180px;
  height: 45px;
  background-color: $green-bg-color;
  color: $defaultBgColor;
  cursor: pointer;
  border-radius: 5px;
}

.empty-btn {
  background-color: $defaultBgColor !important;
  color: lightgray !important;
  & > i {
    color: $green-bg-color;
  }
}
.full-btn {
  background-color: $green-bg-color;
  color: $defaultBgColor;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sortDropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
.sortDropdownContent a {
  color: black;
  padding: 5px 9px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(196, 196, 196, 0.692);
}

.dropdown-content a:hover,
.sortDropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .sortDropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.cart-footer {
  .cart-footer-info {
    direction: rtl;
  }
  .cart-footer-content {
    .cart-footer-index {
      padding: 7px 5px;
      border-bottom: 1px solid lightgray;
      margin: 5px;
      .count-circle {
        background-color: green;
        width: 25px;
        height: 25px;
      }
      .cart-title {
        font-size: 14px;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 2;
      }
      .cart-price {
        font-size: 14px;
        flex: 1;
      }
      .quantity-btn {
        color: $defaultBgColor;
        border: 1px solid $defaultBgColor;
        font-size: 14px;
        cursor: pointer;
        padding: 1px 6px;
        font-weight: bold;
      }
    }
  }
}

nav {
  flex-direction: row-reverse;
  box-shadow: $shadow;
  background-color: $defaultBgColor;

  .cart-wrapper {
    .cart {
      left: 0;
      background-color: $green-bg-color;
    }
  }

  .sort-wrapper {
    .sort-btn {
      margin-left: 10px;
      width: 120px;
      height: 45px;
      background-color: $defaultBgColor;
      border-color: rgba(196, 196, 196, 0.692);
      color: rgb(179, 179, 179);
      cursor: pointer;
      border-radius: 5px;
      font-size: 13px;
    }
  }
}

.dropdown-content {
  .product-count {
    background-color: green;
    width: 25px;
    height: 25px;
  }
  .product-title {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .quantity-btn {
    color: $defaultBgColor;
    border: 1px solid $defaultBgColor;
    font-size: 14px;
    cursor: pointer;
    padding: 1px 6px;
    font-weight: bold;
  }
}

.product-container {
  .product-image {
    position: relative;
    & > div {
      font-size: 13px;
      color: $defaultBgColor;
      position: absolute;
      background-color: red;
      z-index: 1;
      padding: 7px 12px;
    }
    img {
      width: 100%;
    }
  }

  .product-content {
    background-color: $defaultBgColor;
    flex-direction: column;
    display: flex;
    flex: 1.5;

    .product-content-container {
      padding: 10px;
      text-align: right;
      direction: rtl;
      .title {
        font-size: 20px;
        color: #444444;
        margin-bottom: 0.1rem;
      }
      .desc {
        font-size: 14px;
        color: #b2bac1;
        direction: rtl;
      }
    }

    .product-price-container {
      direction: rtl;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .product-price {
        color: $green-bg-color;
        font-size: 18px;
        direction: rtl;
        text-align: right;
        padding: 10px;
        display: inline;
      }
      .quantity {
        display: inline;
        height: 35px;
        margin: 10px;
        font-size: 14px;
      }
    }

    .add-to-cart-btn {
      background-color: $green-bg-color;
      color: $defaultBgColor;

      .icon {
        display: none;
      }

      &:disabled {
        background-color: #e6e6e6;
        color: rgb(179, 179, 179);
      }
    }
  }
}

.cart-footer {
  z-index: 10;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: $green-bg-color;
  flex-direction: column-reverse;
  color: $defaultBgColor;

  .cart-footer-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 15px 8px;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    .cart-wrapper {
      display: none;
    }

    .sort-wrapper .sort-btn {
      width: 60px;

      .text {
        display: none;
      }
    }
  }

  .product-container {
    flex-direction: column;

    & > div {
      flex-direction: row-reverse !important;

      .product-image {
        flex: 1;
        & > div {
          bottom: 0;
          right: 0;
        }
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-content {
        .desc {
          display: none;
        }

        .add-to-cart-btn {
          .icon {
            display: inline;
            margin: 0 5px;
          }
          .text {
            display: none;
          }
        }
      }
    }
  }

  .cart-footer {
    display: flex;
  }
}
</style>
