<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "src/style/style.scss";
@import "../node_modules/toastr/build/toastr.min.css";

$colorBackground: #e3f2fb;
#app {
  width: 100%;
  // height: 100vh;
  object-fit: contain;
  background-color: $colorBackground;
  font-family: "yekan";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #5ec295;
    }
  }
}
</style>
